<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Constellation</title>
    <meta name="description" content="constellation" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="../css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Gabriela|Source+Sans+Pro:300,400,600,700,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- header---->
    <header>
      <div class="header-container">
        <!-- title---->
        <h1>Constellations</h1>
      </div>

      <!-- menu---->
      <div class="button-container" id="toggle">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </div>
      <div class="overlay" id="overlay">
        <nav class="overlay-menu">
          <ul>
            <li><a href="../index.html#section1">Home</a></li>
            <li><a href="../index.html#section2">About</a></li>
            <li><a href="../index.html#section3">12 Constellations</a></li>
            <li>
              <a href="../index.html#section4">Stargazing</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- section-3-cards-content---->
    <section id="section3-content" class="background">
      <div class="content-text">
        <img
          src="../images/Gemini-img.svg"
          alt=""
          class="constellation-img-ca"
        /><img
          src="../images/Gemini-star.svg"
          alt=""
          class="constellation-star-ge"
        />
        <article class="intro">
          <img
            src="../images/Gemini-pattern.svg"
            alt=""
            class="constellation-pattern"
          />
          <h3>Gemini</h3>
          <p>
            While one of the biggest, most famous, and oldest named
            constellations, Aquarius is faint and often hard to find/see. In
            Greek mythology, Aquarius represented Ganymede, a very handsome
            young man. Zeus recognized the lad’s good looks, and invited
            Ganymede to Mt. Olympus to be the cupbearer of the gods. For his
            service he was granted eternal youth, as well as a place in the
            night sky.
          </p>
          <p>
            Despite its prominent position and large size, you can see that
            Aquarius doesn’t really have defining features, nor does it contain
            any bright stars. The protruding line to the right is Aquarius’s
            right arm, with the large downward shape being a combination of the
            water flowing down out of the vase and his right leg. While not the
            entire constellation, what’s drawn above is what you’re most likely
            to see in the night sky. You won’t see this one in the city; you’ll
            need a dark sky to find the cupbearer.
          </p>
        </article>

        <div class="button">
          <ul class="constellation-icon">
            <li>
              <a href="aries.html"
                ><img
                  src="../images/Aries-pattern.svg"
                  alt=""
                  class="constellation-button"
              /></a>
            </li>
            <li>
              <a href="leo.html"
                ><img
                  src="../images/Leo-pattern.svg"
                  alt=""
                  class="constellation-button"
              /></a>
            </li>
            <li>
              <a href="saguttarius.html"
                ><img
                  src="../images/Sagittarius-pattern.svg"
                  alt=""
                  class="constellation-button"
              /></a>
            </li>
            <li>
              <a href="taurus.html"
                ><img
                  src="../images/Taurus-pattern.svg"
                  alt=""
                  class="constellation-button"
              /></a>
            </li>
            <li>
              <a href="virgo.html"
                ><img
                  src="../images/Virgo-pattern.svg"
                  alt=""
                  class="constellation-button"
              /></a>
            </li>
            <li>
              <a href="capricorn.html"
                ><img
                  src="../images/Capricorn-pattern.svg"
                  alt=""
                  class="constellation-button"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img
                  src="../images/Gemini-pattern.svg"
                  alt=""
                  class="constellation-button"
              /></a>
            </li>
            <li>
              <a href="libra.html"
                ><img
                  src="../images/Libra-pattern.svg"
                  alt=""
                  class="constellation-button"
              /></a>
            </li>
            <li>
              <a href="aquarius.html"
                ><img
                  src="../images/Aquarius-pattern.svg"
                  alt=""
                  class="constellation-button"
              /></a>
            </li>
            <li>
              <a href="cancer.html"
                ><img
                  src="../images/Cancer-pattern.svg"
                  alt=""
                  class="constellation-button"
              /></a>
            </li>
            <li>
              <a href="pisces.html"
                ><img
                  src="../images/Pisces-pattern.svg"
                  alt=""
                  class="constellation-button"
              /></a>
            </li>
            <li>
              <a href="scorpio.html"
                ><img
                  src="../images/Scorpio-pattern.svg"
                  alt=""
                  class="constellation-button"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="../js/jquery.fullpage.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
